<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZrzutEkranu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<userSettings>
  <ZrzutEkranu.Properties.Settings>
   <setting name="ClipboardSource_ZrzutEkranu" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ImageFormat" serializeAs="String">
    <value>Png</value>
   </setting>
   <setting name="ClipboardSource_SnippingTool" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ClipboardSource_Other" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PdfMargin" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="PdfImageOrientation" serializeAs="String">
    <value>Vertical</value>
   </setting>
  </ZrzutEkranu.Properties.Settings>
 </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>